@import '../../../scss/mixins/theme-aware.scss';

.chatbot-window {
  display: flex;
  flex-direction: column;
}

.chatbot-window__header {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px;

  @include theme-aware('background', 'main-color');
}

.chatbot-window__message-view {
  height: 400px;
  overflow-y: auto;
  padding: 0 10%;
  background: #fff;
}

.chatbot-window__form {
  padding: 10px;
}
