@import '../../../scss/mixins/breakpoints.scss';

.animal-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;

  @include md {
    flex-direction: row;
    flex-wrap: wrap;
    & .animal-list__item {
      flex: 50%;
      display: flex;
      flex-grow: 0;
      flex-shrink: 1;
      justify-content: center;
    }
  }

  @include xl {
    & .animal-list__item {
      flex: 30%;
      display: flex;
      justify-content: center;
    }
  }
}
