$themes: (
  light: (
    text-main-color: #ebeef7,
    text-second-color: #c8c8cb,
    input-background-color: #efeeee,
    main-color: #007474,
    second-color: #167f7f,
    third-color: #009999,
    light-color: #3bd3d3,
    lighter-color: #6bd3d3,
    shadow-color: #1d8989,
  ),
  dark: (
    text-main-color: #ebeef7,
    text-second-color: #c8c8cb,
    input-background-color: #efeeee,
    main-color: #270672,
    second-color: #462b83,
    third-color: #4212af,
    light-color: #7247d7,
    lighter-color: #8d6dd7,
    shadow-color: #350f8e,
  ),
);
