@import '../../../scss/mixins/theme-aware.scss';
@import '../../../scss/constants/fonts.scss';
@import '../../../scss/mixins/breakpoints.scss';

$header-height: calc($font-size-m * 4);
$footer-height: calc($font-size-m * 6);

.layout {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layout-header-container {
  z-index: 5;
  min-height: $header-height;
  height: fit-content;
  padding: 0 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  @include theme-aware('color', 'text-main-color');
  @include theme-aware('background', 'main-color');
}

.layout-body-container {
  padding-top: $header-height;
  height: 100%;
  position: relative;
  padding-bottom: 10px;
}

.layout-footer-container {
  height: auto;
}
