.add-worker-form {
}

.add-worker-form__header {
  margin-top: 20px;
}

.add-worker-form__text {
  margin: 20px 0;
}

.add-worker-form__button {
  margin-top: 40px;
}

.add-worker-form__error-message {
  color: red;
  position: absolute;
}
