@import '../../scss/mixins/theme-aware.scss';

.pet-page {
}

.pet-page__options {
  width: 100%;
  border-top: 2px solid;
  @include theme-aware('border-color', 'shadow-color');
  @include theme-aware('background', 'main-color');
  border-radius: 0 0 10px 10px;
  height: 60px;
  display: flex;
  gap: 20px;
  z-index: 10;
  padding: 10px 5px;
  box-sizing: border-box;
}

.pet-page__search {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
