@import '../../../scss/constants/fonts.scss';
@import '../../../scss/mixins/theme-aware.scss';
@import '../../../scss/mixins/breakpoints.scss';

.header {
  font-size: $font-size-m;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: inherit;
  flex: 1;
}

.header__theme {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  height: 40px;
  width: fit-content;
}

.header__navigation {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__plus-icon {
  position: absolute;
  left: 16px;
  font-size: 12px;
  @include theme-aware('background', 'light-color');
  border-radius: 50%;
  top: 10px;
}

.header__compose-icons {
  position: relative;
}

.header__user {
  display: flex;
  gap: 10px;
  font-size: $font-size-m;
  align-items: center;
}

.header__menu-button {
  // @include md {
  //   display: none;
  // }
}

.header__menu {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s ease;
}

.header__menu_active {
  max-height: 800px;
}

.header__search {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.header__input-container {
  width: 60%;

  input {
    font-size: $font-size-l;
  }
}

.header__user-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__user-property {
  display: none;
  gap: 15px;
  border-right: 2px solid;
  padding-right: 10px;
  @include theme-aware('border-color', 'shadow-color');
  a {
    color: #fff;
  }

  @include sm {
    display: flex;
    align-items: center;
  }
}

.header__menu-item {
  height: 40px;
  display: flex;
  align-items: center;
  gap: 20px;
  @include theme-aware-shadow(0, -1px, 0px, 0px, 'shadow-color');
}

.header__link {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s ease;
  white-space: nowrap;
  &:hover {
    @include theme-aware('color', 'light-color');
  }
}
