@import '../../../scss/mixins/theme-aware.scss';

.animal-sex-input__selection {
  color: #fff;
  @include theme-aware('background', 'light-color');
  display: flex;
  gap: 10px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  outline: 1px solid #fff;
  padding: 5px 10px;
  transition: background 0.2s ease;
  &:hover {
    cursor: pointer;
    @include theme-aware('background', 'lighter-color');
  }
}
