@import '../../../scss/mixins/theme-aware.scss';
@import '../../../scss/constants/fonts.scss';
@import '../../../scss/mixins/breakpoints.scss';

.footer {
  @include theme-aware('background', 'main-color');
  height: 100%;
  width: 100%;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
