@import '../../../scss/mixins/theme-aware.scss';
@import '../../../scss/constants/fonts.scss';
@import '../../../scss/mixins/breakpoints.scss';

.footer {
  @include theme-aware('background', 'main-color');
  height: 100%;
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.7;

  button,
  a {
    margin-top: -15px;
  }

  label {
    color: #fff;
    position: absolute;
    bottom: 0;
    text-transform: uppercase;
  }

  &_active {
    opacity: 1;
  }
}
